<table>
  <thead>
    <tr>
      <th>Job Name</th>
      <th>Employer</th>
      <th>Outcome</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <% if message.completed? %>
        <tr id="message-<%= message.id %>">
          <td><%= message.job_post.name %></td>
          <% if message.sender.user_type == "Employer" %>
          <td><%= link_to message.sender.name,
                  employer_profile_path(message.sender.id) %></td>
          <% else %>
          <td><%= link_to message.recipient.name,
                  employer_profile_path(message.sender.id) %></td>
          <% end %>
          <td><%= message.status %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
