<% provide(:title, "Job Applications") %>
<%= render 'users/index_sidebar' %>

<div class="col-md-8">
  <section class="user_info">
    <h4>Job Applications</h4>
    <%= link_to 'Add New', messages_new_path, class:"btn btn-default btn-sm" %>
    <br><br>
    <ul class="job_posts">
      <li>
        <table>
          <thead>
            <tr>
              <th>Job Name</th>
              <th>Employer</th>
              <th>Message</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
          <% if @messages.any? %>
            <% @messages.each do |message| %>
              <% if message.pending? %>
                <tr id="message-<%= message.id %>">
                  <td><%= message.job_post.name %></td>
                  <% if message.sender.user_type == "Employer" %>
                  <td><%= link_to message.sender.name,
                          employer_profile_path(message.sender.id) %></td>
                  <% else %>
                  <td><%= link_to message.recipient.name,
                          employer_profile_path(message.recipient.id) %></td>
                  <% end %>
                  <td><%= message.content %></td>
                  <td><%= message.status %></td>
                  <td><%= link_to 'Delete', message, method: :delete,
                          data: { confirm: 'Are you sure you want to delete this application?' } %></td>
                </tr>
              <% else %>
              
              <% end %>
            <% end %>
          <% else %>
            <tr><td colspan="5">There are currently no job applications</td></tr>
          <% end %>
          </tbody>
        </table>
      </li>
    </ul>
  </section>
</div>
