<% provide(:title, "Job Invitations") %>
<%= render 'users/index_sidebar' %>

<div class="col-md-8">
  <section class="user_info">
    <h4>Job Invitations</h4>
    <br>
    <ul class="job_posts">
      <li>
        <table>
          <thead>
            <tr>
              <th>Job Name</th>
              <th>Employer</th>
              <th>Message</th>
              <th>Status</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>

          <tbody>
          <% if @messages.any? %>
            <% @messages.each do |message| %>
              <% if message.pending? %>
                <tr id="message-<%= message.id %>">
                  <td><%= message.job_post.name %></td>
                  <% if message.sender.user_type == "Employer" %>
                  <td><%= link_to message.sender.name,
                          employer_profile_path(message.sender.id) %></td>
                  <% else %>
                  <td><%= link_to message.recipient.name,
                          employer_profile_path(message.recipient.id) %></td>
                  <% end %>
                  <td><%= message.content %></td>
                  <td><%= message.status %></td>
                  <td><%= link_to 'Accept', accept_path(message.id),
                                  data: { confirm: 'Are you sure you want to accept this job?' }%></td>
                  <td><%= link_to 'Decline', decline_path(message.id),
                                  data: { confirm: 'Are you sure you want to decline this job?' }%></td>
                </tr>
              <% elsif message.declined? %>
                <tr id="message-<%= message.id %>">
                  <td><%= message.job_post.name %></td>
                  <% if message.sender.user_type == "Employer" %>
                  <td><%= link_to message.sender.name,
                          employer_profile_path(message.sender.id) %></td>
                  <% else %>
                  <td><%= link_to message.recipient.name,
                          employer_profile_path(message.recipient.id) %></td>
                  <% end %>
                  <td><%= message.content %></td>
                  <td><%= message.status %></td>
                  <td><%= link_to 'Accept', accept_path(message.id),
                                  data: { confirm: 'Are you sure you want to accept this job?' }%></td>
                  <td><%= link_to 'Decline', decline_path(message.id),
                                  data: { confirm: 'Are you sure you want to decline this job?' }%></td>
                </tr>
              <% else %>
              
              <% end %>
            <% end %>
          <% else %>
            <tr><td colspan="5">There are currently no job invitations</td></tr>
          <% end %>
          </tbody>
        </table>
      </li>
    </ul>
  </section>
</div>
