<% provide(:title, 'Active Jobs') %>
<%= render 'users/index_sidebar' %>
  <div class="col-md-8">
  <% if current_user.employer? %>
    <section class="user_info">
        <h4>Work In Progress</h4>
        <table>
          <thead>
            <tr>
              <th>Job Name</th>
              <th>Freelancer</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <% if @messages.any? %>
            <% @messages.each do |message| %>
              <% if message.accepted? %>
                <tr id="message-<%= message.id %>">
                  <td><%= message.job_post.name %></td>
                  <% if message.sender.user_type == "Freelancer" %>
                  <td><%= link_to message.sender.name,
                          freelancer_profile_path(message.sender.id) %></td>
                  <% else %>
                  <td><%= link_to message.recipient.name,
                          freelancer_profile_path(message.recipient.id) %></td>
                  <% end %>
                  <td><%= message.status = "In progress" %></td>
                  <td><%= link_to 'Finish Job', complete_path(message.id),
                                  data: { confirm: 'Are you sure you want to complete this job?' }%>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% else %>
            <tr><td colspan="4">There are currently no active jobs</td></tr>
          <% end %>
          </tbody>
        </table>
    </section>
  <% else %>
  <section class="user_info">
      <h4>Current Work</h4>
      <table>
        <thead>
          <tr>
            <th>Job Name</th>
            <th>Employer</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        <% if @messages.any? %>
          <% @messages.each do |message| %>
            <% if message.accepted? %>
              <tr id="message-<%= message.id %>">
                <td><%= message.job_post.name %></td>
                <% if message.sender.user_type == "Employer" %>
                <td><%= link_to message.sender.name,
                        employer_profile_path(message.sender.id) %></td>
                <% else %>
                <td><%= link_to message.recipient.name,
                        employer_profile_path(message.recipient.id) %></td>
                <% end %>
                <td><%= message.status = "In progress" %></td>
              </tr>
            <% end %>
          <% end %>
        <% else %>
          <tr><td colspan="3">There are currently no active jobs</td></tr>
        <% end %>
        </tbody>
      </table>
  </section>
  <% end %>
  </div>
</div>
