<% provide(:title, "Job Applications") %>
<%= render 'users/index_sidebar' %>

<div class="col-md-8">
  <section class="user_info">
    <h4>Job Applications</h4>
    <%= link_to 'Add New', new_message_path, class:"btn btn-default btn-sm" %>
    <br><br>
    <ul class="job_posts">
      <li>
        <table>
          <thead>
            <tr>
              <th>Job Name</th>
              <th>Employer</th>
              <th>Message</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
          <% if @applications.any? %>
            <% @applications.each do |applications| %>
              <% if applications.pending? %>
                <tr id="applications-<%= applications.id %>">
                  <td><%= applications.job_post.name %></td>
                  <% if applications.sender.user_type == "Employer" %>
                  <td><%= link_to applications.sender.name,
                          employer_profile_path(applications.sender.id) %></td>
                  <% else %>
                  <td><%= link_to applications.recipient.name,
                          employer_profile_path(applications.recipient.id) %></td>
                  <% end %>
                  <td><%= applications.content %></td>
                  <td><%= applications.status %></td>
                  <td><%= link_to 'Delete', applications, method: :delete,
                          data: { confirm: 'Are you sure you want to delete this application?' } %></td>
                </tr>
              <% else %>

              <% end %>
            <% end %>
          <% else %>
            <tr><td colspan="5">There are currently no job applications</td></tr>
          <% end %>
          </tbody>
        </table>
      </li>
    </ul>
  </section>
</div>
