<% provide(:title, 'New Job Application') %>
<%= render 'users/index_sidebar' %>

<div class="col-md-6">
  <h3>New Job Application</h3><br>

  <%= form_for(@application) do |f| %>
    <%= render 'shared/error_messages', object: @application %>

    <%= f.text_field :sender_id, value: current_user.id, type: "hidden" %>

    <%= f.label "Job Post" %>
    <%= f.select(:job_post_id, @job_post.map{ |p| [p.name, p.id]}) %>

    <%= f.label "Message" %>
    <%= f.text_area :content, class: 'form-control', placeholder: 'Your message for the employer' %>

    <%= f.submit 'Send', class: "btn btn-primary" %>
  <% end %>
</div>
