<section class="user_info">
    <h4>User Profile</h4><br>
      Name: <%= @user.name %><br>
      <% if current_user.employer? %>
      Company: <%= @user.company_name %><br>
      Job Title: <%= @user.job_title %><br>
      Location: <%= @user.location %>
      <% else %>
      Brief Intro: <%= @user.brief_intro %><br>
      Summary: <%= @user.summary %><br>
      Skills: <%= @user.skills %><br>
      Location: <%= @user.location %>
      <% end %>
</section><br><br>
