<% provide(:title, 'Edit Profile') %>

<%= form_for(@user) do |f| %>
<h3>Edit Profile</h3><br>
<div class="row">
  <div class="col-md-4">
      <%= render 'shared/error_messages', object: @user %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.fields_for :address do |a| %>
        <%= a.label "Address" %>
        <%= a.text_field :barangay, class: 'form-control', placeholder: 'Barangay' %>
        <%= a.text_field :city_municipality, class: 'form-control', placeholder: 'City/Municipality' %>
        <%= a.text_field :province, class: 'form-control', placeholder: 'Province' %>
        <%= a.text_field :zip_code, class: 'form-control', placeholder: 'Zip Code' %>
      <% end %>
  </div>
  <div class="col-md-4" style="margin-left:110px;">
    <% if current_user.employer? %>
    <%= f.label :company %>
    <%= f.text_field :company, class: 'form-control' %>

    <%= f.label :job_title %>
    <%= f.text_field :job_title, class: 'form-control' %>

    <% else %>

    <%= f.label :brief_intro %>
    <%= f.text_field :brief_intro, class: 'form-control' %>

    <%= f.label :summary %>
    <%= f.text_area :summary, class: 'form-control' %>

    <%= f.label :rate %>
    <%= f.text_field :rate, class: 'form-control' %>

    <% end %>
  </div>
</div><br>
<div class="row">
  <div class="col-md-2">
  <%= f.submit "Edit Profile", class: "btn btn-primary" %>
  <%= link_to "Cancel", current_user, class: "btn btn-danger btn-block" %>
  </div>
</div>
  <% end %>
<br><br><br>
