<% provide(:title, "Profile") %>
<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <h1>
        Freelancers (<%= @freelancers.count %>)
      </h1>
        <% @freelancers.each do |u| %>
          <ul class="job_posts">
              <li id="user-<%= u.id %>">
                Name: <%= u.name %><br>
                Brief Intro: <%= u.brief_intro %><br>
                Summary: <%= u.summary %><br>
                Skills: <%= u.skills %><br>
                Location: <%= u.location %><br>
                <% if current_user.employer? %>
                <% else %>

                <% end %>
              </li>
          </ul>
        <% end %>
    </section>
  </aside>
</div>
