<% provide(:title, "Job Invitations") %>
<%= render 'index_sidebar' %>

<div class="col-md-8">
  <section class="user_info">
    <h4>Job Invitations</h4>
    <br>
    <ul class="job_posts">
      <li>
        <table>
          <thead>
            <tr>
              <th>Job Name</th>
              <th>Employer</th>
              <th>Message</th>
              <th>Status</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>

          <tbody>
            <% @messages.each do |message| %>
              <tr id="message-<%= message.id %>">
                <td><%= message.job_post.name %></td>
                <td><%= message.sender.name %></td>
                <td><%= message.content %></td>
                <td><%= message.status %></td>
                <td><%= link_to 'Accept', "#" %></td>
                <td><%= link_to 'Decline', "#" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </li>
    </ul>
  </section>
</div>
