<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-12">
    <section class="user_info">
        <h4>User Profile</h4>
        <% if current_user.id == @user.id %>
        <%= link_to 'Edit Profile', edit_user_path(current_user), class:"btn btn-default btn-sm" %> <br><br><br>
        <% end %>
          <strong>Name:</strong> <%= @user.name %><br>
          <strong>Email:</strong> <%= @user.email %><br>
          <strong>Address:</strong>
          <% if @user.address.nil? %>
          <% else %>
          <%= @user.address.full_address %>
          <% end %>
          <br>
          <% if @user.employer? %>
          <strong>Company:</strong> <%= @user.company %><br>
          <strong>Job Title:</strong> <%= @user.job_title %><br>
          <% else %>
          <strong>Brief Intro:</strong> <%= @user.brief_intro %><br>
          <strong>Summary:</strong> <%= @user.summary %><br>
          <strong>Rate:</strong> <%= @user.rate %><br>
          <% end %>
    </section><br><br>

    <% if @user.freelancer? %>
    <section class="user_info">
        <h4>Skills</h4>
        <% if current_user.id == @user.id %>
        <%= link_to 'Add Skill', new_skill_path, class:"btn btn-default btn-sm" %> <br><br>
        <% end %>

        <table class="w3-table">
              <% @user.skills.each do |s| %>
                  <tr id="s-<%= s.id %>">
                    <td><%= s.name %></td>
                    <td><% s.rating.to_i.times do  %>
                     <span class="glyphicon glyphicon-star"></span>
                    <% end %>
                    <% s.blank_stars.times do  %>
                     <span class="glyphicon glyphicon-star-empty"></span>
                    <% end %></td>
                    <% if current_user.id == @user.id %>
                    <td><%= link_to 'Edit', edit_skill_path(s), class:"btn btn-primary btn-sm" %>
                        <%= link_to 'Delete', s, method: :delete, data:
                                  { confirm: 'Are you sure you want to delete this skill?' },
                                  class:"btn btn-danger btn-sm" %></td>
                    <% end %>
                  </tr>
              <% end %>
        </table>
    </section><br><br>

    <section class="user_info">
        <h4>Job History</h4>
        <% if @user.sent_applications.any? %>
        <table>
          <thead>
            <tr>
              <th>Job Name</th>
              <th>Employer</th>
              <th>Outcome</th>
            </tr>
          </thead>
          <tbody>
              <% @user.sent_applications.each do |job| %>
                <% if job.completed? %>
                  <tr id="job-<%= job.id %>">
                    <td><%= job.post.name %></td>
                    <% if job.sender.user_type == "employer" %>
                    <td><%= link_to job.sender.name,
                            user_path(job.sender.id) %></td>
                    <% else %>
                    <td><%= link_to job.recipient.name,
                            user_path(job.recipient.id) %></td>
                    <% end %>
                    <td><%= job.status %></td>
                  </tr>
                <% end %>
              <% end %>
          </tbody>
        </table>
        <% else %>
        <h5><i>No Job History</i></h5>
        <% end %>
    </section><br><br>
    <% end %>

    <section class="user_info">
      <h4>Reviews</h4>
      <% if @user.reviews.any? %>
        <% @user.reviews.each do |r| %>
              <li id="r-<%= r.id %>">
                <span class="default"><strong><%= r.job_application.post.name %></strong></span><br>
                <span class="default"><span class="badge"><%= r.rating %></span>
                <% r.rating.to_i.times do  %>
                 <span class="glyphicon glyphicon-star"></span>
                <% end %>
                <% r.blank_stars.times do  %>
                 <span class="glyphicon glyphicon-star-empty"></span>
                <% end %></span><br>
                <span class="default"><%= r.content %></span> <br>
                <span class="default">- <%= r.reviewer.name %></span> <br>
                <span class="timestamp-default">
                  Posted <%= time_ago_in_words(r.created_at) %> ago.
                </span>
              </li><br><br>
        <% end %>
      <% else %>
        <h5><i>No reviews</i></h5>
      <% end %>
    </section><br><br>
  </div>
</div>
