<% provide(:title, current_user.name) %>
<div class="row">
  <aside class="col-md-3">
    <%= render 'show_sidebar' %>
  </aside>
  <div class="col-md-8">
    <section class="user_info">
        <h4>User Profile</h4><br>
          <strong>Name:</strong> <%= current_user.name %><br>
          <strong>Email:</strong> <%= current_user.email %><br>
          <% if current_user.employer? %>
          <strong>Company:</strong> <%= current_user.company_name %><br>
          <strong>Job Title:</strong> <%= current_user.job_title %><br>
          <strong>Location:</strong> <%= current_user.location %>
          <% else %>
          <strong>Brief Intro:</strong> <%= current_user.brief_intro %><br>
          <strong>Summary:</strong> <%= current_user.summary %><br>
          <strong>Skills:</strong> <%= current_user.skills %><br>
          <strong>Location:</strong> <%= current_user.location %><br>
          <strong>Rate:</strong> <%= current_user.rate %> per hour
          <% end %>
    </section><br><br>
    <section class="user_info">
        <h4>Reviews</h4><br>
    </section><br><br>
  </div>
</div>
