<% provide(:title, "Job Applications") %>
<%= render 'users/index_sidebar' %>

<div class="col-md-8">
  <section class="user_info">
    <% if is_employer %>
    <h4>Applicants</h4><br>
    <% else %>
    <h4>Job Applications</h4>
    <%= link_to 'Add New', new_job_application_path, class:"btn btn-default btn-sm" %>
    <br><br><br>
    <% end %>

    <ul class="job_posts">
      <li>
        <table>
          <thead>
            <tr>
              <th>Date/Time</th>
              <th>Job Name</th>
              <% if is_employer %>
              <th>Freelancer</th>
              <% else %>
              <th>Employer</th>
              <% end %>
              <th>Message</th>
              <th>Status</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>

          <tbody>
            <% @job_application.each do |a| %>
                <tr id="a-<%= a.id %>">
                  <td><%= datetime_format(a.created_at) %></td>
                  <td><%= a.post.name %></td>
                  <% if is_employer %>
                  <td><%= link_to a.sender.name, user_path(a.sender.id) %></td>
                  <% else %>
                  <td><%= link_to a.recipient.name, user_path(a.recipient.id) %></td>
                  <% end %>
                  <td><%= a.content %></td>
                  <td><%= a.status.capitalize %></td>
                  <% if is_employer %>
                  <td><%= link_to 'Hire', accept_job_application_path(a.id),
                                  data: { confirm: 'Are you sure you want to hire this freelancer?' },
                                  class:"btn btn-primary btn-sm" %></td>
                  <% else %>
                  <td><%= link_to 'Delete', a, method: :delete,
                                data: { confirm: 'Are you sure you want to delete this application?' },
                                class:"btn btn-danger btn-sm" %></td>
                  <% end %>
                </tr>
            <% end %>
          </tbody>
        </table>
      </li>
    </ul>
  </section>
</div>
