<% provide(:title, "Job Applications") %>
<%= render 'users/index_sidebar' %>

<div class="col-md-8">
  <section class="user_info">
    <% if current_user.employer? %>
    <h4>Applicants</h4>
    <br>
    <ul class="job_posts">
      <li>
        <table>
          <thead>
            <tr>
              <th>Job Name</th>
              <th>Freelancer</th>
              <th>Message</th>
              <th>Status</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>

          <tbody>
          <% if current_user.job_applications.any? %>
            <% current_user.job_applications.each do |a| %>
              <% if a.status == "accepted" || a.status == "completed" %>
              <% else %>
                <tr id="a-<%= a.id %>">
                  <td><%= a.post.name %></td>
                  <td><%= link_to a.sender.name,
                          freelancer_profile_path(a.sender.id) %></td>
                  <td><%= a.content %></td>
                  <td><%= a.status.capitalize %></td>
                  <td><%= link_to 'Hire', accept_job_application_path(a.id),
                                  data: { confirm: 'Are you sure you want to hire this freelancer?' }%>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% else %>
            <tr><td colspan="5">There are currently no applicants</td></tr>
          <% end %>
          </tbody>
        </table>
      </li>
    </ul>

    <% else %>

      <h4>Job Applications</h4>
      <%= link_to 'Add New', new_job_application_path, class:"btn btn-default btn-sm" %>
      <br><br>
      <ul class="job_posts">
        <li>
          <table>
            <thead>
              <tr>
                <th>Job Name</th>
                <th>Employer</th>
                <th>Message</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            <% if current_user.sent_applications.any? %>
              <% current_user.sent_applications.each do |a| %>
                <% if a.status == "accepted" || a.status == "completed" %>
                <% else %>
                  <tr id="a-<%= a.id %>">
                    <td><%= a.post.name %></td>
                    <td><%= link_to a.recipient.name,
                            employer_profile_path(a.recipient.id) %></td>
                    <td><%= a.content %></td>
                    <td><%= a.status.capitalize %></td>
                    <td><%= link_to 'Delete', a, method: :delete, data:
                                  { confirm: 'Are you sure you want to delete this application?' } %></td>
                  </tr>
                <% end %>
              <% end %>
            <% else %>
              <tr><td colspan="5">There are currently no job applications</td></tr>
            <% end %>
            </tbody>
          </table>
        </li>
      </ul>
    <% end %>

  </section>
</div>
