<% provide(:title, 'Add Skill') %>
<div class="row">
  <aside class="col-md-3">
    <%= render 'users/show_sidebar' %>
  </aside><br><br><br>
  <div class="col-md-6">
    <%= form_for(@skill) do |s| %>
      <%= render 'shared/error_messages', object: @skill %>

      <%= s.label "Skill" %>
      <%= s.text_field :name, class: 'form-control' %>

      <%= s.label :rating %>
      <%= s.select :rating, options_for_select([['1',1], ['2',2], ['3',3], ['4',4], ['5',5]]) %>

      <%= s.submit "Add", class: "btn btn-primary" %>
    <% end %>
  </div>
</div><br><br><br>
