<% provide(:title, "Job Invitations") %>
<%= render 'users/index_sidebar' %>

<div class="col-md-8">
  <section class="user_info">
    <h4>Job Invitations</h4>
    <%= link_to 'Add New', new_message_path, class:"btn btn-default btn-sm" %>
    <br><br>
    <ul class="job_posts">
      <li>
        <table>
          <thead>
            <tr>
              <th>Job Name</th>
              <th>Freelancer</th>
              <th>Message</th>
              <th>Status</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>

          <tbody>
            <% if @invitations.any? %>
              <% @invitations.each do |invitations| %>
                <% if invitation.pending? %>
                  <tr id="message-<%= message.id %>">
                    <td><%= invitations.job_post.name %></td>
                    <% if invitations.sender.user_type == "Freelancer" %>
                    <td><%= link_to invitations.sender.name,
                            freelancer_profile_path(invitations.sender.id) %></td>
                    <% else %>
                    <td><%= link_to invitations.recipient.name,
                            freelancer_profile_path(invitations.recipient.id) %></td>
                    <% end %>
                    <td><%= invitations.content %></td>
                    <td><%= invitations.status %></td>
                    <td><%= link_to 'Delete', invitations, method: :delete,
                            data: { confirm: 'Are you sure you want to delete this invitation?' } %></td>
                  </tr>
                <% end %>
              <% end %>
            <% else %>
              <tr><td colspan="5">There are currently no job invitations</td></tr>
            <% end %>
          </tbody>
        </table>
      </li>
    </ul>
  </section>
</div>
