<li id="job_post-<%= job_post.id %>">
  <span class="name">Job Post: <%= job_post.name %></span> <br>
  <span class="description">Description: <%= job_post.description %></span> <br>
  <span class="skills">Skills Required: <%= job_post.skills %></span> <br>
  <span class="skills">Budget: <%= job_post.budget %></span> per hour <br>
  <span class="skills">Hours of work: <%= job_post.hours_of_work %></span> hours/week <br>
  <span class="skills">Status: <%= job_post.status %></span> <br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(job_post.created_at) %> ago.
  </span>
  <%= link_to 'Edit', edit_job_post_path(job_post) %>
  <%= link_to 'Delete', job_post, method: :delete, data: { confirm: 'Are you sure you want to delete this job post?' } %>
</li>
