<% provide(:title, 'Active Jobs') %>
<%= render 'users/index_sidebar' %>
  <div class="col-md-8">
  <% if current_user.employer? %>
    <section class="user_info">
        <h4>Completed Jobs</h4>
        <table>
          <thead>
            <tr>
              <th>Job Name</th>
              <th>Freelancer</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <% if @completed_jobs.any? %>
            <% @completed_jobs.each do |job| %>
              <% if job.completed? %>
                <tr id="job-<%= job.id %>">
                  <td><%= job.post.name %></td>
                  <% if job.sender.user_type == "freelancer" %>
                  <td><%= link_to job.sender.name,
                          freelancer_profile_path(job.sender.id) %></td>
                  <% else %>
                  <td><%= link_to job.recipient.name,
                          freelancer_profile_path(job.recipient.id) %></td>
                  <% end %>
                  <td><%= job.status %></td>
                  <td><%= link_to 'Rate Freelancer', "#"%></td>
                </tr>
              <% end %>
            <% end %>
          <% else %>
            <tr><td colspan="4">There are currently no completed jobs</td></tr>
          <% end %>
          </tbody>
        </table>
    </section>
  <% else %>
    <section class="user_info">
        <h4>Past Jobs</h4>
        <table>
          <thead>
            <tr>
              <th>Job Name</th>
              <th>Employer</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <% if @completed_jobs.any? %>
            <% @completed_jobs.each do |job| %>
              <% if job.completed? %>
                <tr id="job-<%= job.id %>">
                  <td><%= job.post.name %></td>
                  <% if job.sender.user_type == "employer" %>
                  <td><%= link_to job.sender.name,
                          employer_profile_path(job.sender.id) %></td>
                  <% else %>
                  <td><%= link_to job.recipient.name,
                          employer_profile_path(job.recipient.id) %></td>
                  <% end %>
                  <td><%= job.status %></td>
                  <td><%= link_to 'Rate Employer', "#"%></td>
                </tr>
              <% end %>
            <% end %>
          <% else %>
            <tr><td colspan="4">There are currently no completed jobs</td></tr>
          <% end %>
          </tbody>
        </table>
    </section>
  <% end %>
  </div>
</div>
