<% provide(:title, 'Active Jobs') %>
<%= render 'users/index_sidebar' %>
  <div class="col-md-8">
    <section class="user_info">

        <% if is_employer %>
        <h4>Completed Jobs</h4>
        <% else %>
        <h4>Past Jobs</h4>
        <% end %>

        <table>
          <thead>
            <tr>
              <th>Job Name</th>
              <% if is_employer %>
              <th>Freelancer</th>
              <% else %>
              <th>Employer</th>
              <% end %>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @completed_jobs.each do |job| %>
                <tr id="job-<%= job.id %>">
                  <td><%= job.post.name %></td>

                  <% if is_employer %>
                    <% if job.sender.freelancer? %>
                    <td><%= link_to job.sender.name, user_path(job.sender.id) %></td>
                    <% else %>
                    <td><%= link_to job.recipient.name, user_path(job.recipient.id) %></td>
                    <% end %>
                  <% else %>
                    <% if job.sender.employer? %>
                    <td><%= link_to job.sender.name, user_path(job.sender.id) %></td>
                    <% else %>
                    <td><%= link_to job.recipient.name, user_path(job.recipient.id) %></td>
                    <% end %>
                  <% end %>

                  <td><%= job.status.capitalize %></td>

                  <% if is_employer %>
                  <td><%= link_to 'Rate Freelancer', new_job_application_review_path(job.id) %></td>
                  <% else %>
                  <td><%= link_to 'Rate Employer', new_job_application_review_path(job.id) %></td>
                  <% end %>

                </tr>
            <% end %>
          </tbody>
        </table>
    </section>
  </div>
</div>
