<% provide(:title, "Freelancers") %>
<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <h1>
        Freelancers (<%= @freelancers.count %>)
      </h1>
        <% @freelancers.each do |f| %>
          <ul class="job_posts">
              <li id="user-<%= f.id %>">
                Name: <%= link_to f.name, freelancer_profile_path(f.id)%><br>
                Brief Intro: <%= f.brief_intro %><br>
                Summary: <%= f.summary %><br>
                Skills: <%= f.skills %><br>
                Location: <%= f.location %><br>
              </li>
          </ul>
        <% end %>
    </section>
  </aside>
</div>
