<% provide(:title, @freelancer.name) %>
<div class="row">
  <div class="col-md-8">
    <section class="user_info">
        <h4>User Profile</h4>
          <strong>Name:</strong> <%= @freelancer.name %><br>
          <strong>Address:</strong>
          <% if @freelancer.address.nil? %>
          <% else %>
          <%= @freelancer.address.join %>
          <% end %>
          <br>
          <strong>Brief Intro:</strong> <%= @freelancer.brief_intro %><br>
          <strong>Summary:</strong> <%= @freelancer.summary %><br>
          <strong>Rate:</strong> <%= @freelancer.rate %> per hour
    </section><br>
    <section class="user_info">
        <h4>Job History</h4>
        <table>
          <thead>
            <tr>
              <th>Job Name</th>
              <th>Employer</th>
              <th>Outcome</th>
            </tr>
          </thead>
          <tbody>
            <% if @completed_jobs.any? %>
              <% @completed_jobs.each do |job| %>
                <% if job.completed? %>
                  <tr id="job-<%= job.id %>">
                    <td><%= job.post.name %></td>
                    <% if job.sender.user_type == "employer" %>
                    <td><%= link_to job.sender.name,
                            employer_profile_path(job.sender.id) %></td>
                    <% else %>
                    <td><%= link_to job.recipient.name,
                            employer_profile_path(job.sender.id) %></td>
                    <% end %>
                    <td><%= job.status %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
    </section><br>
    <section class="user_info">
        <h4>Reviews</h4><br>
        <table>
          <thead>
            <tr>
              <th>Job Post</th>
              <th>Employer</th>
              <th>Message</th>
              <th>Rating</th>
            </tr>
          </thead>

          <tbody>
              <% @freelancer.reviews.each do |r| %>
                  <tr id="r-<%= r.id %>">
                    <td><%= r.job_application.post.name %></td>
                    <td><%= r.reviewer.name %></td>
                    <td><%= r.content %></td>
                    <td><%= r.rating %></td>
                  </tr>
              <% end %>
          </tbody>
        </table>
    </section><br><br>
  </div>
</div>
